/* Portfolio Project Website Style Sheet */

/* Global */

html 
{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 100%;
  background-color: #121212;
  transition: all 1s ease-in-out;
}

.container
{
  display: grid;
  gap: 15px;
  grid-template-areas: 
    'header header header header header',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'footer footer footer footer footer';
}

.header-container 
{
  grid-area: header;
  display: flex;
  align-content: space-around;
  align-items: center;

  background-color:#ffffff0c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #121212;

}

.main-container
{
  grid-area: main;
  background-color: #ffffff0c;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  box-shadow: 2px 2px 10px 0px #121212;
}


.card-container
{
  display: grid;
  background-color: #2d2d2d;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #121212;
}


.footer-container
{
  grid-area: footer;
  background-color:#ffffff0c;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px 0px #121212;
}

a
{
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  transition: all 0.2s ease-in-out;
}

a:hover
{
  color:#a34d47;
}



/* Header */

.id-container
{
  display: flex;
  justify-self: start;
}

.title-container
{
  text-align: left;
  margin: 10px;
}


#logo
{
  grid-area: 1 / 1 / span 1 / span 1;
}
#logo img
{
  border-radius: 50%;
}

h1 
{
  padding: 0px 0px 0px 0px;
  margin: 0px;


  color: #c17f67;
}

#subheader
{
  color:#ffffff;
  padding: 0;
  margin: 0;
}

nav
{
  margin-left: auto;

}

nav ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li 
{
  padding: 10px;
  display: inline-block;
  text-align: left;
  list-style-type: none;
}


/* Main */

.resume-header h2
{
  font-size: 2.5rem;
  text-align: center;
}

.resume-header ul
{
  text-align: center;
  list-style: none;
}

.resume-header ul li
{
  display: inline;
  padding: 15px;
  text-align: start;
}

.section-container
{
  display: grid;
  gap: 0px;

  background-color: #414141;
  padding: 0px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0px #121212;
}

.section-header
{
  text-align: center;
}

.section-item
{
  display: grid;
  padding: 20px;
  margin: 15px;
  line-height: 1rem;
  grid-template-areas: 
  'l r';
  border-radius: 10px;
  background-color: #5d5d5d;
  box-shadow: 1px 1px 20px 0px #121212;
}

.left-section
{
  grid-area: l;
  text-align: left;
}

.left-section h5
{
  margin-top: -20px;
}

.left-section #degree
{
  margin-top: -10px;
}

.left-section p
{
  line-height: 1rem;
  padding-bottom: .3rem;
  margin-top: -15px;
  text-align: left;
  font-size: smaller;
}


.right-section
{
  grid-area: r;
  text-align: right;
  margin-left: auto;
}

.right-section h5
{
  margin-top: -20px;
}




/* Footer */

footer
{
}

section #id 
{}



