/* Portfolio Project Website Style Sheet */

/* Global */

html 
{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 100%;
  background-color: #121212;
  transition: all 1s ease-in-out;
}

.container
{
  display: grid;
  gap: 15px;
  grid-template-areas: 
    'header header header header header',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'footer footer footer footer footer';
}

.header-container 
{
  grid-area: header;
  background-color:#ffffff0c;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

}

.main-container
{
  grid-area: main;
  background-color: #ffffff0c;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.info-container
{
  background-color: #2d2d2d;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.resume-container
{
  background-color: #2d2d2d;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.project-container
{
  background-color: #2d2d2d;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.section-container
{
  display: grid;
  background-color: #363636;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;

  grid-template-areas: 
  'media media aside aside aside';
}

.footer-container
{
  grid-area: footer;
  background-color:#ffffff0c;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  text-align: center;
}

a
{
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  transition: all 0.2s ease-in-out;
}

a:hover
{
  color:#829e7a;
}



/* Header */

#logo img
{
  border-radius: 50%;
}

h1 
{
  color: #829e7a;
  padding: 10px 0px 0px 0px;
  margin: 0;
}

#subheader
{
  color:#ffffff;
  padding: 0;
  margin: 0;
}

nav
{

}

nav ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li 
{
  padding: 10px;
  display: inline-block;
  text-align: left;
  list-style-type: none;
}




/* Main */

.laced-container
{
  grid-area: aside;
  
}

#laced-image
{
  grid-area: media;
  max-width: 200px;
}

.ckom-container
{
  grid-area: aside;
  
}

#ckom-image
{
  grid-area: media;
  max-width: 200px;
}

h2
{
  margin: 10px 0px 25px 0px;
}
/* Footer */

footer
{
}

section #id 
{}



