/* Portfolio Project Website Style Sheet */

/* Global */

html 
{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 100%;
  background-color: #121212;
  transition: all 1s ease-in-out;
}

.container
{
  display: grid;
  gap: 15px;
  grid-template-areas: 
    'header header header header header',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'main main main main main',
    'footer footer footer footer footer';
}

.header-container 
{
  grid-area: header;
  display: flex;
  align-content: space-around;
  align-items: center;

  background-color:#ffffff0c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #121212;

}

.main-container
{
  grid-area: main;
  background-color: #ffffff0c;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  box-shadow: 2px 2px 10px 0px #121212;
}


.card-container
{
  display: grid;
  background-color: #2d2d2d;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px #121212;
}

.section-container
{
  display: grid;
  gap: 15px;
  justify-items: center;


  background-color: #414141;
  padding: 0px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 0px #121212;

  grid-template-areas: 
  'media text aside';
}

.footer-container
{
  grid-area: footer;
  background-color:#ffffff0c;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px 0px #121212;
}

a
{
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  transition: all 0.2s ease-in-out;
}

a:hover
{
  color:#a34d47;
}



/* Header */

.id-container
{
  display: flex;
  justify-self: start;
}

.title-container
{
  text-align: left;
  margin: 10px;
}


#logo
{
  grid-area: 1 / 1 / span 1 / span 1;
}
#logo img
{
  border-radius: 50%;
}

h1 
{
  padding: 0px 0px 0px 0px;
  margin: 0px;


  color: #c17f67;
}

#subheader
{
  color:#ffffff;
  padding: 0;
  margin: 0;
}

nav
{
  margin-left: auto;

}

nav ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li 
{
  padding: 10px;
  display: inline-block;
  text-align: left;
  list-style-type: none;
}




/* Main */

.card-container .heading
{
  text-align: center;
}

.card-text-container
{
  grid-area: text;
  align-content: center;
  margin-right: auto;
  text-align: center;
  
}

.link-container
{
  grid-area: aside;
  display: grid;
  gap: 15px;
  place-content: center center;
  margin-right: 15px;
  text-align: center;
}

#laced-image
{
  grid-area: media;
  place-self: start;

  max-width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ckom-container
{
  grid-area: text;
  align-content: center;
  margin-right: auto;
}

#ckom-image
{
  grid-area: media;
  place-self: start;

  max-width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.savior-container
{
  grid-area: text;
  align-content: center;
  margin-right: auto;
}

.card-image
{
  grid-area: media;
  place-self: start;

  max-width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

h2
{
}





/* Footer */

footer
{
}

section #id 
{}



